.card{
    /* background-color: yellow; */
    width: 18%;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 25px;
    flex-wrap:wrap ;
    margin-left: 25px;;
}
.card>div{
    width: 100%;
    height: 400px;
    background-color:white;
    margin: 10px;
    border: 1px solid grey;
}